$font-stack:    Tahoma, Trebuchet MS, Verdana;
$dark-blue: #002173;
$orange: #fc8e18;
$yellow: #f4d72d;
$shadows: #c8c8c8;
$grey: #555;
$red: #dd4b39;

body {
    font-family: $font-stack;
    color: $dark-blue;
    
    .no-script {
        width: 100%;
        height:70px;
        color: #fff;
        background-color: $red;
        font-size: 20px;
        text-align: center;
        padding-top: 4px;
        
        span {
            font-size: 12px;
        }
    }
    
    .main-container {
        margin-bottom: 60px;
    }
    
    .fadeInJS {
        display: none;
    }
    
    .header {
        border-bottom: 6px solid $dark-blue;
        padding: 30px;
        margin: 0px 30px 20px 30px;
        border-radius:50px;
        -webkit-box-shadow: 3px 18px 10px -15px rgba(0,0,0,0.28);
        -moz-box-shadow: 3px 18px 10px -15px rgba(0,0,0,0.28);
        box-shadow: 3px 18px 10px -15px rgba(0,0,0,0.28);
        
        h1 {
            color: $orange;
            text-shadow: 2px 1px 2px $shadows;
        }
    }
    

    .index {
        p {
            margin: 20px; 
        }
        
        .btn-orange {
            margin: 36px 0px 30px 0px;
            padding: 20px 30px;
            font-size: 30px;
            min-width: 300px;
        }
        
        div {
            /*display:none;*/
        }
    }
    
    .start {
        h3 {
            text-align: center;
            color: $orange;
            margin-bottom: 20px;
            font-size: 30px;
        }
        
        #customer-accepted {
            margin-top: 0px;
        }
        
        .btn {
            margin-top:20px;
            margin: 20px 0px;
            min-width: 200px;
        }
        
        .terms {
            border: 1px solid #d2d6de;
            width: 100%;
            height: 160px;
            font-size: 10px;
            overflow-y: auto;
            padding: 8px 12px;
            margin-bottom: 10px;
        }
    }
    
    
    .quiz {
        .item {
            margin-bottom: 40px;
            border-bottom: 1px solid $orange;
            padding-bottom: 20px;
            
            ol.answers {
                li:nth-child(4) {
                    margin-left:1px;
                }
                
                li {
                    line-height:40px;
                    input {
                        position: absolute;
                        float: left;
                        margin-top: 13px;
                        left: 60px;
                    }
                }
            }
        }
    }
        
    .results {
        .level-name {
            font-weight: bold;
            font-size: 40px;
            display: block;
            /* width: 100%; */
            margin: 30px 0px;
            color: $orange;
        }
        
        &.info {
            margin-bottom: 120px;
        }
    }
    
    footer {
        font-size:12px;
        color: $grey;
        margin: 0px 30px 20px 30px;
        padding: 20px 0px 0px 0px;
        height: 30px;
        a {
            color: $dark-blue;
        }
    }
   
    
    .iconfa {
        font-size: 100px !important;
        margin: 40px;
    }
    
    .timer {
        b {
          color: $orange;  
        }
    }
    
    .errortext {
        font-size:28px;
        font-weight: bold;
        margin:30px;
    }
    
    .level-info {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2;
        padding: 14%;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: $orange;
    }
}