body {
  font-family: Tahoma, Trebuchet MS, Verdana;
  color: #002173; }
  body .no-script {
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: #dd4b39;
    font-size: 20px;
    text-align: center;
    padding-top: 4px; }
    body .no-script span {
      font-size: 12px; }
  body .main-container {
    margin-bottom: 60px; }
  body .fadeInJS {
    display: none; }
  body .header {
    border-bottom: 6px solid #002173;
    padding: 30px;
    margin: 0px 30px 20px 30px;
    border-radius: 50px;
    -webkit-box-shadow: 3px 18px 10px -15px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 3px 18px 10px -15px rgba(0, 0, 0, 0.28);
    box-shadow: 3px 18px 10px -15px rgba(0, 0, 0, 0.28); }
    body .header h1 {
      color: #fc8e18;
      text-shadow: 2px 1px 2px #c8c8c8; }
  body .index p {
    margin: 20px; }
  body .index .btn-orange {
    margin: 36px 0px 30px 0px;
    padding: 20px 30px;
    font-size: 30px;
    min-width: 300px; }
  body .index div {
    /*display:none;*/ }
  body .start h3 {
    text-align: center;
    color: #fc8e18;
    margin-bottom: 20px;
    font-size: 30px; }
  body .start #customer-accepted {
    margin-top: 0px; }
  body .start .btn {
    margin-top: 20px;
    margin: 20px 0px;
    min-width: 200px; }
  body .start .terms {
    border: 1px solid #d2d6de;
    width: 100%;
    height: 160px;
    font-size: 10px;
    overflow-y: auto;
    padding: 8px 12px;
    margin-bottom: 10px; }
  body .quiz .item {
    margin-bottom: 40px;
    border-bottom: 1px solid #fc8e18;
    padding-bottom: 20px; }
    body .quiz .item ol.answers li:nth-child(4) {
      margin-left: 1px; }
    body .quiz .item ol.answers li {
      line-height: 40px; }
      body .quiz .item ol.answers li input {
        position: absolute;
        float: left;
        margin-top: 13px;
        left: 60px; }
  body .results .level-name {
    font-weight: bold;
    font-size: 40px;
    display: block;
    /* width: 100%; */
    margin: 30px 0px;
    color: #fc8e18; }
  body .results.info {
    margin-bottom: 120px; }
  body footer {
    font-size: 12px;
    color: #555;
    margin: 0px 30px 20px 30px;
    padding: 20px 0px 0px 0px;
    height: 30px; }
    body footer a {
      color: #002173; }
  body .iconfa {
    font-size: 100px !important;
    margin: 40px; }
  body .timer b {
    color: #fc8e18; }
  body .errortext {
    font-size: 28px;
    font-weight: bold;
    margin: 30px; }
  body .level-info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    padding: 14%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fc8e18; }



/*# sourceMappingURL=main.css.map */
